body
{
  background-color:yellow;
  font-family: 'Times New Roman', Times, serif;
}

h1
{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:green;
}

.webcam_view
{
  width: 500px;
  height: 500px;
  
}

label
{
  color:blue;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button
{
  font-size: 20px;
  background-color:orange;
  color:black;
}


